@page "/genre/list"
@attribute [StreamRendering]
@using Portfolio.Core.Models
@using Portfolio.Core.Repository.IRepository
@inject IGenreRepository _genreRepository

@if (_genres == null)
{
    <div>
        <img src="/images/loading.svg" alt="loading..." />
    </div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Guid</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var genre in _genres)
            {
                <tr>
                    <td>@genre.Id</td>
                    <td>@genre.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private bool IsProcessing { get; set; } = true;

    private IEnumerable<Core.Models.Genre>? _genres;
       
    protected override async Task OnInitializedAsync()
    {
        _genres = (await _genreRepository.GetAllAsync()).OrderBy(g => g.Name);
    }
}
