@page "/genre/list"

@inject IGenreRepository _genreRepository

@if (IsProcessing)
{
    <div class="position-absolute w-75 h-75 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="/images/loading.gif" alt="loading" />
    </div>
}


<h3>GenreList</h3>

@code {
    private bool IsProcessing { get; set; } = true;
}
